*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.principal{
    background: #CCCCCC;
    padding: 1rem;
}
.titulo-principal{
    font-size: 3.5rem;
    padding: 1.5rem;
}
#banner{
    width: 100%;
}
h2{
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}
p{
    font-size: 1.5rem;
    text-align: center;
}
em strong{
    color: red;
}
#mision{
    font-size: 2rem;
}
.diferenciales{
    background: white;
}
h3{
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 0 2rem;
}
ul .items{
    font-style: italic;
    font-size: 1.5rem;
}
.diferenciales .imagenDiferencial{
    width: 50%;
}